/* Importar fuentes de letras */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

/* Variables */
:root {
    --Raleway: 'Raleway', sans-serif;
    --Playfair: 'Playfair Display', serif;
    --color-green: #4BA87D;
    --color-black: #000;
    --color-background: #CAEAC7;
    }

/**** Section Cards ****/
.cards-section{
    position: relative;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 13rem;
    justify-content: center;
    align-items: center;
}
    /* posición del Background verde */
.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../assets/fg/green-back.png);
    transform: skew(0deg, -10deg) translateY(-120px);
}
    /* Imagen del Slash blanco */
.cards-section .slash img {
    position: absolute;
    width: 55%;
    height: auto;
    z-index: 1;
    transform: translate(59%, -17%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%);
}

/**** Contenedor de cards ****/
.cards-container{
    transform: skew(0deg, 0deg);
    display: flex;
    width: 75%;
    height: auto;
    gap: 2.5rem;
}
    /* Estilo de las cartas 1 y 2 */
.cards{
    display: flex;
    flex-direction: column;
    font-family: var(--Raleway);
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 26rem;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(131, 130, 130, 0.548);
}
    /* Tamaño de las iamgenes de las cartas */
.style-cards img{
    width: 100%;
}
    /* Estilo del parrafo */
.style-cards p{
    font-size: 0.9rem;
    line-height: 1.525rem;
    padding: 1rem 2rem 0 2rem;
    font-weight: 500;
}
    /* Estilo del contenedor Learn */
.style-cards .learn{
    height: 3rem;
    padding: .8rem 2rem;
}
    /* Estilo del enlace Learn */
.style-cards a{
    font-weight: 900;
    text-decoration: none;
    color: var(--color-green);
    font-size: .9rem;
}
    /* Hover del enlace Learn */
.style-cards a:hover{
    text-decoration: underline;
}
    /* Contenedor carta 2*/
.second-card{
    margin-top: 6.3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25.5rem;
}
    /* Contenedor carta 3 */
.third-card{
    width: 100%;
}
    /* Caja dentro del contenedor para el tamaño */
.card-three{
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
}
    /* Titulo card3 */
.card-three h1{
    font-family: var(--Playfair);
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.5rem; 
}
    /* Parrafo card3 */
.card-three p{
    font-family: var(--Raleway);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem; 
}

@media (max-width: 768px) {

    /***** Section Cards *****/
    .cards-section{
        padding-top: 0rem;
        padding-bottom: 11rem;
    }
        /* Imagen del Slash blanco */
    .cards-section .slash img {
        width: 55%;
        z-index: 1;
        transform: translate(69%, -15%);
    }
        /* Contenedor de cards */
    .cards-container{
        width: 94%;
        gap: 2rem;
    }
        /* Contenedor carta 1 para ubicar */
    .first-card{
        height: 18.5rem;
    }
        /* Contenedor carta 2 para ubicar */
    .second-card{
        margin-top: 4rem;
        height: 19.5rem;
    }
        /* Estilo del parrafo */
    .style-cards p{
        font-size: 0.7rem;
        line-height: 1rem;
        padding: 1rem 1.2rem 0 1.2rem;
        font-weight: 700;
        color: var(--color-black);
    }
        /* Estilo del contenedor Learn */
    .style-cards .learn{
        height: 3rem;
        padding: .5rem 1.2rem;
    }
        /* Estilo del enlace Learn */
    .style-cards a{
        font-size: .73rem;
    }
        /* Contenedor card3 */
    .card-three{
        gap: 1rem;
    }
        /* Titulo card3 */
    .card-three h1{
        font-size: 1.6rem;
        line-height: 1.7rem; 
        color: var(--color-black);
    }
        /* Parrafo card3 */
    .card-three p{
        font-size: .8rem;
        line-height: 1rem; 
        color: var(--color-black);
    }
}

@media (max-width: 430px) {
    /* Section Cards */
    .cards-section{
        position: relative;
        display: flex;
        padding-top: 0rem;
        padding-bottom: 13rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
        /* posición del Background verde */
    .background {
        margin-top: 27rem;
        transform: skew(0deg, -20deg) translateY(-100px);
    }
        /* Imagen del Slash blanco */
    .cards-section .slash img {
        position: absolute;
        width: 50rem;
        height: auto;
        z-index: 1;
        transform: translate(-35%, 0%) rotate(25deg);
    }
        /* Contenedor de cards */
    .cards-container{
        transform: skew(0deg, 0deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 2.5rem;
    }
        /* Estilo de las cartas 1 y 2 */
    .cards{
        display: flex;
        flex-direction: column;
        font-family: var(--Raleway);
        background-color: #fff;
        overflow: hidden;
        width: 70%;
        height: 23rem;
    }
        /* Contenedor carta 1 */
    .first-card{
        margin-right: 7rem;
    }
        /* Contenedor carta 2 para ubicar */
    .second-card{
        margin-top: -1rem;
        margin-left: 7rem;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 24.5rem;
    }
        /* Caja dentro del contenedor para el tamaño */
    .style-cards img{
        width: 100%;
    }
        /* Estilo del parrafo */
    .style-cards p{
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 1rem 2rem 0 2rem;
        font-weight: 500;
    }
        /* Estilo del contenedor Learn */
    .style-cards .learn{
        height: 3rem;
        padding: .8rem 2rem;
    }
        /* Estilo del enlace Learn */
    .style-cards a{
        font-weight: 900;
        text-decoration: none;
        color: var(--color-green);
        font-size: .9rem;
    }
        /* Contenedor card3 */
    .third-card{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Caja dentro del contenedor para el tamaño */
    .card-three{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1.5rem;
    }
        /* Titulo card3 */
    .card-three h1{
        font-family: var(--Playfair);
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 2.5rem; 
    }
        /* Parrafo card3 */
    .card-three p{
        margin-right: 2.7rem;
        font-family: var(--Raleway);
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.4rem; 
    }
}