@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

:root {
    --Raleway: 'Raleway', sans-serif;
    --Playfair: 'Playfair Display', serif;
    --color-green: #4BA87D;
}

.get-started{
    width: 100%;
    background-color: var(--color-green);
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #fff;
    gap: 3rem;
}

.box1 h1{
    font-family: var(--Playfair);
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 5rem;
}

.box1 button{
    font-family: var(--Raleway);
    font-weight: 900;
    background-color: #fff;
    border: #fff;
    width: 12.5rem;
    height: 4.0625rem;
    font-size: 1.3rem;
    color: var(--color-green);
    transition: all 0.3s ease;
    cursor: pointer;
}

.box1 button:hover{
    transform: scale(1.1);
}

@media (max-width: 768px){
    .get-started{
        width: 100%;
        height: 16rem;
    }
    
    .box1{
        width: 80%;
        height: 80%;
        gap: 2rem;
    }
    
    .box1 h1{
        text-align: center;
        font-size: 2.5rem;
    }
    
    .box1 button{
        width: 12rem;
        height: 3.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 430px){
    .get-started{
        height: 35vh;
    }
    
    .box1{
        max-width: 90%;
        width: 80%;
        text-align: center;
        height: 80%;
        gap: 2rem;
    }
    
    .box1 h1{
        font-size: 2.8rem;
        line-height: 3rem;
    }
    
    .box1 button{
        font-size: 1.1rem;
        line-height: 0.9375rem; 
        letter-spacing: 0.04063rem;
    }
}
